<div id="top"><span>CREATE PACKAGE</span></div>
                
<table id="create-table">
    <tr><td>Bystronik: <input type="radio" name="tool" value="Bystronik"></td><td>CNC: <input type="radio" name="tool" value="CNC"></td><td>Riveting: <input type="radio" name="tool" value="Riveting"></td></tr>
    <tr><td>Package Number:</td><td><input type="text" id="package_number"></td></tr>
    <tr><td id="mess"></td><td><input type="submit" name="create-package" id="create-package" value="CREATE"></td></tr>
</table>