<div id="top"><span>CREATE PACKAGE</span></div>
                
<table id="create-table">
    <tr><td>Bystronik: <input type="radio" name="tool" value="Bystronik"></td><td>Others: <input type="radio" name="tool" value="Others"></td></tr>
    <tr><td>Order Number:</td><td><input type="text" id="order_number"></td></tr>
    <tr><td>Barcode:</td><td><input type="text" id="barcode"></td></tr>
    <tr><td>Part Number:</td><td><input type="text" id="part_number"></td></tr>
    <tr><td>Laser Marking:</td><td><input type="text" id="laser_marking"></td></tr>
    <tr><td>Material:</td><td><input type="text" id="material"></td></tr>
    <tr><td>Color:</td>
        <td>
            <select id="color">
                <option>color 1</option>
                <option>color 2</option>
                <option>color 3</option>
                <option>color 4</option>
                <option>color 5</option>
            </select>
        </td>
    </tr>
    <tr><td>Quantity:</td><td><input type="text" id="quantity"></td></tr>
    <tr><td>Demension:</td><td><input type="text" id="demension"></td></tr>
    <tr><td>Note:</td><td><input type="text" id="note"></td></tr>
    <tr><td id="mess"></td><td><input type="submit" name="create-package" id="create-package" value="CREATE"></td></tr>
</table>
                