<div id="top">
    <div>PACKAGES</div>
    <div id="sorting">
        
    </div>  
</div>



<table class="edit-page">
    <tr>
        <td><input type="text" id="package_number" placeholder="Package Number" value="<?=$data['package_number']?>"></td>
        <!--<td><input type="text" id="date" placeholder="Date" value="<?=$data['date']?>"></td>-->
        <td><input type="text" id="time" value="<?=$data['time']?>" disabled></td>
        <td><input type="text" id="tool" value="<?=$data['tool']?>" disabled></td>
        <td><input type="hidden" id="package_id" value="<?=$data['package_id']?>"><button id="edit-package">Edit this package</button></td>
    </tr>
</table>