
   <div id="top">
    <div>ORDERS <span class="tool"><?=$data['tool']?></span></div>
    <hr>
    <div id="sorting">
        <div>
            <a sort='undefined' href="/admin/packages">All packages</a>
            <a sort='Bystronik' href="/admin/packages/Bystronik">Bystronik</a>
            <a sort='CNC' href="/admin/packages/CNC">CNC</a>
            <a sort='Riveting' href="/admin/packages/Riveting">Riveting</a>
            <a sort='Laser-Marking' href="/admin/packages/Laser-Marking">Laser marking</a>
            <a sort='Steel-Packing' href="/admin/packages/Steel-Packing">Steel packing</a>
            <a sort='Grooving' href="/admin/packages/Grooving">Grooving</a>
        </div>
        <!--<div>
            <input type="date" id="data-1">
            <input type="date" id="date-2">
        </div>-->
    </div>
    <hr>
    <div class="select-table-type">
        <a href="<?=$data['table-type'][1]?>">First Table</a>
        <a href="<?=$data['table-type'][0]?>">Second Table</a>
    </div>
    <hr>
    <div>
        <? if ($_SESSION['barcode-service']['rights'] == '200' || $_SESSION['barcode-service']['rights'] == '150' || $_SESSION['barcode-service']['rights'] == '100') : ?>
       <input type="text" id="package_number" placeholder="Package Number">
       <select id="tool">
            <option><?= $data['tool'] ?></option>
            <option>Bystronik</option>
            <option>CNC</option>
            <option>Riveting</option>
            <option>Laser marking</option>
            <option>Steel packing</option>
            <option>Grooving</option>
        </select>
        <button id="create-package">Create new order</button>
        <? endif; ?>
    </div>
    <hr>
    
    <? if($data['cnt'] > 50) : ?>
    
    <div class="paginator">
        <? for($page = 1; $page < $data['cnt']; $page++) : ?>
        <? if ($page == 1) : ?>
        <a href="?page=<?=$page?>&invoice=<?=$_GET['invoice']?>&stamping=<?=$_GET['stamping']?>&partnumber=<?=$_GET['partnumber']?>&barcode=<?=$_GET['barcode']?>&ordernumber=<?=$_GET['ordernumber']?>">First page</a>
        <? endif; ?>
        
        <? if ($data['limiter'][0] >= $page && $data['limiter'][1] <= $page) : ?>
        <a href="?page=<?=$page?>&invoice=<?=$_GET['invoice']?>&stamping=<?=$_GET['stamping']?>&partnumber=<?=$_GET['partnumber']?>&barcode=<?=$_GET['barcode']?>&ordernumber=<?=$_GET['ordernumber']?>"><?=$page?></a>
        <? endif; ?>
        
        <? if ($page == $data['cnt'] - 1) : ?>
        <a href="?page=<?=$page?>&invoice=<?=$_GET['invoice']?>&stamping=<?=$_GET['stamping']?>&partnumber=<?=$_GET['partnumber']?>&barcode=<?=$_GET['barcode']?>&ordernumber=<?=$_GET['ordernumber']?>">Last page</a>
        <? endif; ?>
        <? endfor; ?>
    </div>
    
    <? endif; ?>
</div>
<div id="content-box">
    
<? include './application/views/' . $data['table']; ?>
</div>