<div id="top">
    <span>USERS</span>
    <div id="sorting"><a href="/admin/users">Back</a></div>
    
</div>

<div id="content-box">
    
<table id="package-table">
    
    <table>
        <tr><td>User Name</td><td>Key</td><td></td><td></td></tr>
        <tr><td><input id="name" type="text" value="<?=$data['login']?>"><input type="hidden" value="<?=$data['key_id']?>" id="key-id"></td><td><input id="key" type="text" value="<?=$data['enter_key']?>"></td><td><button id="generate-key">Generate</button></td><td><button id="save-key">Save</button></td></tr>
    </table>
    
</table>
    
</div>